/* dùng class . (nhiều class) */
      /* dùng id #(id là duy nhất) */
      #div1 {
        /* cho vào hộp  */
        box-sizing: border-box;
        color: #ff0000;
        background-color: #ff0;
        width: 200px;
        height: 40px;
        text-align: center;
        padding-top: 15px;
        border: 5px dashed #ff0000;
      }